

h1{
    font-size: var(--h1-size) !important;
    line-height: var(--h1-line-height) !important;
}
h2{
    font-size: var(--h2-size) !important;
    line-height: var(--h2-line-height) !important;
}
h3{
    font-size: var(--h3-size) !important;
    line-height: var(--h3-line-height) !important;
}
h4{
    font-size: var(--h4-size) !important;
    line-height: var(--h4-line-height) !important;
}
p{
    font-size: var(--h5-size) !important;
    line-height: var(--body-1-line-height) !important;
}

.title {
    margin-bottom:4rem;
}
.elevation-1{
    box-shadow: 2px 4px 12px #00000014 !important;
  }

a{
    text-decoration: underline;
    color: var(--v-primary);
}
a:hover{
    opacity: 0.75;
}


.v-container{

}
@media (min-width: 1200px) {
    .v-container {
        max-width: 1312px;
    }
}
@media (max-width: 1350px) {
    .v-container {
        padding: 0 35px;
    }
}
@media (max-width: 600px) {
    .v-container{
        width:90% !important;
    }
}