.text-emphasize {
  font-weight: 600;
  color: var(--base-color-gray--900);
}
p {
  margin: 12px 0 24px 0; // not sure is this is needed
}
.page-section {
  margin-top: 48px;
  margin-bottom: 48px;
}
.v-container {
  width: 100% !important;
  max-width: var(--container-md-max-width) !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.text-rainbow-gradient {
  // background: linear-gradient(90deg, #f97794, #c471ed, #12c2e9, #43e97b, #f9c74f, #f97794);
  background: var(--gradient-warm);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.text-gradient-plasma {
  background: var(--gradient-plasma);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.text-gradient-cool {
  background: var(--gradient-cool);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.text-gradient-blue {
  // --gradient-start: #376694;
  // --gradient-end: #6088a7;
  --gradient-start: var(--v-primary-darken-2);
  --gradient-end: var(--v-indigo-darken-2);
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
.text-gradient-dark-blue {
  --gradient-start: #022640;
  --gradient-end: #5786ab;
  background-image: linear-gradient(90deg, var(--gradient-start), var(--gradient-end));
}
.background-gradient-light-blue {
  background: linear-gradient(180deg, #d4eaf6, #f9f9f9 75%, #fff);
}

.elevation-1 {
  box-shadow: 2px 4px 12px #00000014 !important;
}

a {
  text-decoration: none !important;
  color: var(--v-primary-base);
}
a:hover {
  opacity: 0.85;
}
// a:not(button){
//     text-decoration: none !important;
//     border-bottom:0.25px solid var(--v-primary);
//     cursor: pointer;
// }
.no-border {
  border: none !important;
}

ul {
  padding-inline-start: 1.25em;
}
li {
  line-height: 1.6em;
  margin-bottom: 0.65em;
  padding-left: 6px;
}
.prism-text-form-group-label {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--base-color-gray--900);
  line-height: 1.75rem;
  letter-spacing: 0.0892857143em;
}
.prism-text-form-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--base-color-gray--900);
  line-height: 1.25rem;
  letter-spacing: 0.0892857143em;
}

// xxl
@media (min-width: 2560px) {
}
// xl
@media (min-width: 1920px) and (max-width: 2560px) {
}
// lg
@media (min-width: 1280px) and (max-width: 1920px) {
}
// md
@media (min-width: 960px) and (max-width: 1280px) {
  .v-container {
    max-width: 92% !important;
  }
}

// sm
@media (min-width: 600px) and (max-width: 960px) {
  .v-container {
    max-width: 92% !important;
  }
}
// xs
@media (max-width: 600px) {
  .v-container {
    max-width: 96% !important;
  }
}
