

// h1{
//     font-size: var(--h1-size) !important;
//     line-height: var(--h1-line-height) !important;
// }
// h2{
//     font-size: var(--h2-size) !important;
//     line-height: var(--h2-line-height) !important;
// }
// h3{
//     font-size: var(--h3-size) !important;
//     line-height: var(--h3-line-height) !important;
// }
// h4{
//     font-size: var(--h4-size) !important;
//     line-height: var(--h4-line-height) !important;
// }

h1{
    letter-spacing: -.18rem;
    margin-top: 0;
    margin-bottom: 0;
    // font-family: TWK Lausanne, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.8rem;
}
h2 {
    letter-spacing: -.1425rem;
    margin-top: 0;
    margin-bottom: 0;
   // font-family: TWK Lausanne, sans-serif;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.25rem;
}
h3 {
    letter-spacing: -.105rem;
    margin-top: 0;
    margin-bottom: 0;
   // font-family: TWK Lausanne, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}
.heading-style-h3 {
    letter-spacing: -.105rem !important;
    font-size: 3rem !important;
    line-height: 3.5rem !important;
}
.heading-style-h5 {
    letter-spacing: -.05625rem !important;
    font-size: 1.875rem !important;
    line-height: 2.375rem !important;
}
.text-color-gray600 {
    color: var(--base-color-gray--600) !important;
}



//get rid of this and use txt size classes and updated card component
p, .body-1, .v-card-text {
    letter-spacing: -.003rem !important;
    margin-bottom: 0 !important;
   // font-family: TWK Lausanne, sans-serif;
    font-weight: 400 !important;
    line-height: 160% !important;
    font-size:1rem !important;
}


.p-size-xl {
    letter-spacing: -.00625rem !important;
    font-size: 1.25rem !important;
}


// new classes for easier text size changes
.text-size-body-1{
    font-size: var(--body-1-size) !important;
}
.text-size-body-2{
    font-size: var(--body-2-size) !important;
}
.text-size-h1{
    font-size: var(--h1-size) !important;
}
.text-size-h2{
    font-size: var(--h2-size) !important;
}
.text-size-h3{
    font-size: var(--h3-size) !important;
}
.text-size-h4{
    font-size: var(--h4-size) !important;
}
.text-size-h5{
    font-size: var(--h5-size) !important;
}
.text-size-h6{
    font-size: var(--h6-size) !important;
}
.text-size-h7{
    font-size: var(--h7-size) !important;
}




.heading-container{
    margin-bottom: 48px;
    margin-top: 16px;
}

.container-xs-max-width {
    max-width: var(--container-xs-max-width) !important;
}
.container-sm-max-width {
    max-width: var(--container-sm-max-width) !important;
}
.container-md-max-width {
    max-width: var(--container-md-max-width) !important;
}

// title class adds bottom margin. need to consider better way
.title {
    margin-bottom: 48px;
    margin-top: 16px;
}
.elevation-1{
    box-shadow: 2px 4px 12px #00000014 !important;
  }

a{
    text-decoration: underline;
    color: var(--v-primary);
}
a:hover{
    opacity: 0.75;
}


// xxl 
@media (min-width:  2560px) {

}
// xl
@media (min-width: 1920px) and (max-width: 2560px) {

}
// lg
@media (min-width: 1280px) and (max-width: 1920px) {

}
// md
@media (min-width: 960px) and (max-width: 1280px) {
    // .v-container{
    //     max-width: 92% !important;
    // }
}

// sm
@media (min-width: 600px) and (max-width: 960px) {
    // .v-container{
    //     max-width: 92% !important;
    // }
}
// xs
@media (max-width: 600px) {
    // .v-container{
    //     max-width: 92% !important;
    // }
}