.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(211,94%,98%,0.75) 0px, transparent 80%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,90%,0.7) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,90%,0.9) 0px, transparent 90%), /*top right*/
  /* radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 90%) */
  radial-gradient(at 44% 87%, hsla(177,94%,90%,0.9) 0px, transparent 90%)
}

.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(211,94%,98%,0.75) 0px, transparent 80%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,90%,1) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,90%,1) 0px, transparent 90%), /*top right*/
  /* radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 90%) */
  radial-gradient(at 44% 87%, hsla(177,94%,90%,1) 0px, transparent 90%)
}

.mesh-16{
  background-color: #0E7AFF;
  background-image:
  radial-gradient(at 59% 10%, hsla(225,89%,90%,1) 0px, transparent 50%),/*mid top*/
  radial-gradient(at 17% 42%, hsla(25,86%,90%,1) 0px, transparent 50%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,98%,1) 0px, transparent 70%),/*bottom-center right*/
  radial-gradient(at 37% 95%, hsla(209,93%,80%,1) 0px, transparent 99%), /*bottom left*/
  radial-gradient(at 72% 20%, hsla(294,72%,80%,1) 0px, transparent 90%), /*top right*/
  radial-gradient(at 44% 87%, hsla(133,68%,90%,1) 0px, transparent 70%)
}


.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(25,86%,70%,1) 0px, transparent 50%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,70%,1) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,80%,1) 0px, transparent 90%), /*top right*/
  radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 70%)
  
}
.mesh-16{
    background-color:hsla(232,100%,94%,1);
    background-image:
  
    /* radial-gradient(at 40% 20%, hsla(232,100%,90%,1) 200px, transparent 50%), */
    radial-gradient(at 40% 20%, hsl(232, 94%, 80%) 80px, transparent 60%),
    radial-gradient(at 60% 50%, hsla(28,100%,85%,1) 100px, transparent 50%),
    /* radial-gradient(at 0% 50%, hsla(355,100%,85%,1) 10px, transparent 70%), */
    radial-gradient(at 100% 50%, hsla(340,100%,85%,1) 100px, transparent 70%),
    radial-gradient(at 80% 200%, hsla(242,100%,70%,1) 10px, transparent 80%);
    /* radial-gradient(at 0% 80%, hsla(211,94%,90%,1) 200px, transparent 70%); */
  }


.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(25,86%,90%,1) 0px, transparent 50%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,90%,1) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,90%,1) 0px, transparent 90%), /*top right*/
  /* radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 90%) */
  radial-gradient(at 44% 87%, hsla(177,94%,90%,1) 0px, transparent 90%)
}

.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(25,86%,98%,1) 0px, transparent 80%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,90%,1) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,90%,1) 0px, transparent 90%), /*top right*/
  /* radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 90%) */
  radial-gradient(at 44% 87%, hsla(177,94%,90%,1) 0px, transparent 90%)
}

.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(211,94%,98%,1) 0px, transparent 80%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,90%,1) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,90%,1) 0px, transparent 90%), /*top right*/
  /* radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 90%) */
  radial-gradient(at 44% 87%, hsla(177,94%,90%,1) 0px, transparent 90%)
}

.mesh-16{
  background-color: #0E7AFF;
  background-image:

  radial-gradient(at 17% 42%, hsla(211,94%,98%,0.75) 0px, transparent 80%),/*mid left orange*/
  radial-gradient(at 95% 63%, hsla(198,70%,90%,0.7) 0px, transparent 70%),/*bottom-center right*/

  radial-gradient(at 72% 20%, hsla(294,72%,90%,0.9) 0px, transparent 90%), /*top right*/
  /* radial-gradient(at 44% 87%, hsla(133,68%,70%,1) 0px, transparent 90%) */
  radial-gradient(at 44% 87%, hsla(177,94%,98%,0.9) 0px, transparent 90%)
}

.mesh-16{
    background-color: #0E7AFF;
    background-image:
  
    radial-gradient(at 17% 42%, hsla(211,94%,98%,1) 0px, transparent 80%),/*mid left orange*/
    radial-gradient(at 95% 63%, hsla(198,70%,90%,1) 0px, transparent 80%),/*bottom-center right*/
  
    radial-gradient(at 72% 20%, hsla(294,72%,90%,0.9) 0px, transparent 90%), /*top right*/
    radial-gradient(at 44% 87%, hsla(177,94%,98%,0.9) 0px, transparent 90%)
  }

  .mesh-16{
    background-color: #0E7AFF;
    background-image:
  
    radial-gradient(at 17% 42%, hsla(211,94%,99%,1) 0px, transparent 80%),/*mid left orange*/
    radial-gradient(at 95% 63%, hsla(25,86%,90%,1) 0px, transparent 80%),/*bottom-center right*/
  
    radial-gradient(at 72% 20%, hsla(294,72%,90%,0.9) 0px, transparent 80%), /*top right*/
    radial-gradient(at 44% 87%, hsla(177,94%,90%,0.9) 0px, transparent 90%)
  }

  .mesh-16{

    background-color:  hsla(211,94%,80%,1);
    background-image:
  
    radial-gradient(at 17% 42%, hsla(294,72%,94%,0.91) 0px, transparent 80%),/*mid left*/
    radial-gradient(at 95% 63%, hsla(25,86%,90%,1) 0px, transparent 80%),/*bottom-center right*/
  
    radial-gradient(at 72% 20%, hsla(294,72%,90%,0.9) 0px, transparent 80%), /*top right*/
    radial-gradient(at 44% 87%, hsla(211,94%,96%,1) 0px, transparent 90%)
  }
  .mesh-16{

    background-color:  hsla(211,94%,90%,1);
    background-image:
    radial-gradient(at 17% 42%, hsla(294,72%,96%,1) 0px, transparent 80%),/*mid left*/
    radial-gradient(at 95% 63%, hsla(25,86%,90%,1) 0px, transparent 80%),/*bottom-center right*/
    radial-gradient(at 72% 20%, hsla(294,72%,90%,1) 0px, transparent 80%), /*top right*/
    radial-gradient(at 44% 87%, hsla(211,0%,100%,1) 0px, transparent 90%)
  }


  .mesh-16{
    background-color: #0E7AFF;
    background-image:
    radial-gradient(at 17% 42%, hsla(211,94%,98%,1) 0px, transparent 80%),/*mid left orange*/
    radial-gradient(at 95% 63%, hsla(198,70%,90%,1) 0px, transparent 80%),/*bottom-center right*/
    radial-gradient(at 72% 20%, hsla(294,72%,80%,0.9) 0px, transparent 80%), /*top right*/
    radial-gradient(at 44% 87%, hsla(177,94%,98%,0.9) 0px, transparent 90%)
  }