/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with ( 
    $ripple-animation-transition-in : 0s,
    $ripple-animation-visible-opacity : 0,
    $body-font-family: 'Inter',
    $font-size-root: 1rem,
);

