

$heading-font-family: 'Inter';
$body-font-family: 'Inter';
$quote-font-family: 'Playfair Display';


@use 'vuetify/settings' with (
    $color-pack: true,
    $body-font-family: 'Inter',
    $font-size-root: 1rem,
    $heading-font-family: 'Inter',
    $card-padding: 1.5rem,

    $typography: (
        'h1': (
            'size': var(--h1-size),
            'weight': 800,
            'line-height': 1,
            'letter-spacing': -.015625em,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        'h2': (
        //   'size': 3.75rem,
            'size': var(--h2-size),
            'weight': 200,
            'line-height': 1,
            'letter-spacing': -.0083333333em,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        'h3': (
        //   'size': 3rem,
            'size': var(--h3-size),
            'weight': 200,
            'line-height': 1.05,
            'letter-spacing': normal,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        'h4': (
            // 'size': 2.125rem,
            'size': var(--h4-size),
            'weight': 200,
            'line-height': 1.175,
            'letter-spacing': .0073529412em,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        'h5': (
       //     'size': 1.5rem,
            'size': var(--h5-size),
            'weight': 300,
            'line-height': 1.333,
            'letter-spacing': normal,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        'h6': (
           // 'size': 1.25rem,
            'size': var(--h6-size),
            'weight': 500,
            'line-height': 1.6,
            'letter-spacing': .0125em,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        'subtitle-1': (
          'size': 1rem,
          'weight': normal,
          'line-height': 1.75,
          'letter-spacing': .009375em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        'subtitle-2': (
          'size': .875rem,
          'weight': 500,
          'line-height': 1.6,
          'letter-spacing': .0071428571em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        'body-1': (
          'size': 1rem,
          'weight': 400,
          'line-height': 1.5,
          'letter-spacing': .03125em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        'body-2': (
          'size': .875rem,
          'weight': 400,
          'line-height': 1.425,
          'letter-spacing': .0178571429em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        'button': (
          'size': .875rem,
          'weight': 500,
          'line-height': 2.6,
          'letter-spacing': .0892857143em,
          'font-family': $body-font-family,
          'text-transform': uppercase
        ),
        'caption': (
          'size': .75rem,
          'weight': 400,
          'line-height': 1.667,
          'letter-spacing': .0333333333em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        'overline': (
          'size': .75rem,
          'weight': 500,
          'line-height': 2.667,
          'letter-spacing': .1666666667em,
          'font-family': $body-font-family,
          'text-transform': uppercase
        )
      )
    
);

.text-quote {
    font-family: $quote-font-family;
    // color: var(--v-secondary);
}
.italic{
    font-style: italic;
}
:root {
    --h1-size: 5rem;
    --h2-size: 3rem;
    --h3-size: 2.5rem;
    --h4-size: 2rem;
    --h5-size: 1.5rem;
    --h6-size: 1.25rem;
}

@media (max-width: 1200px) {
    :root {
        --h1-size: 4rem;
        --h2-size: 3rem;
        --h3-size: 2.5rem;
        --h4-size: 2rem;
        --h5-size: 1.5rem;
        --h6-size: 1.25rem;
    }
}

@media (max-width: 992px) {
    :root {
        --h1-size: 3.5rem;
        --h2-size: 2.5rem;
        --h3-size: 2rem;
        --h4-size: 1.75rem;
        --h5-size: 1.5rem;
        --h6-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    :root {
        --h1-size: 3rem;
        --h2-size: 2rem;
        --h3-size: 1.75rem;
        --h4-size: 1.5rem;
        --h5-size: 1.25rem;
        --h6-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    :root {
        --h1-size: 3rem;
        --h2-size: 2rem;
        --h3-size: 1.75rem;
        --h4-size: 1.5rem;
        --h5-size: 1.25rem;
        --h6-size: 1.25rem;
    }
}
