

$heading-font-family: 'Inter';
$body-font-family: 'Inter';

@use 'vuetify/settings' with (
    $color-pack: true,
    $body-font-family: 'Inter',
    $font-size-root: var(--font-size-root),
    $heading-font-family: 'Inter',
    $card-title-white-space: normal,
    $card-title-word-wrap: initial,
    $card-title-text-overflow: visible,
    $card-title-hyphens: none,
    $card-subtitle-white-space: normal,
    $card-subtitle-text-overflow: visible,
    // $card-title-letter-spacing: .0178571429em,
    // $card-title-padding: 1rem,
    // $card-subtitle-padding: 1rem,
    // $card-title-header-padding: .25rem 0 .25rem 0,
    // $card-subtitle-header-padding: .25rem 0 .25rem 0,
    //  $card-text-padding: .25rem 0 .25rem 0,
    $button-text-transform: none,
    $typography: (
        'body-1': (
          'size': var(--body-1-size),
          // 'weight': 400,
         'line-height': 1.67em,
         // 'letter-spacing': .03125em,
          // 'font-family': $body-font-family,
          // 'text-transform': none
        ),
        'body-2': (
          'size': var(--body-2-size),
          'line-height': 1.6em
          // 'weight': 400,
          // 'line-height': var(--body-2-line-height),
        //   'letter-spacing': .03125em,
          // 'font-family': $body-font-family,
          // 'text-transform': none
        ),
        'h1': (
            'size': var(--h1-size),
          //  'line-height': var(--h1-line-height),
          //  'letter-spacing': -.015625em,
          //  'font-family': $heading-font-family,
            'text-transform': none,
            'weight': 700
        ),
        'h2': (
            'size': var(--h2-size),
         //   'line-height': var(--h2-line-height),
         //   'letter-spacing': -.0083333333em,
            'font-family': $heading-font-family,
            'text-transform': none,
        //    'weight': 500
        ),
        'h3': (
            'size': var(--h3-size),
            'line-height': var(--h3-line-height),
            'letter-spacing': normal,
            'font-family': $heading-font-family,
            'text-transform': none,
           // 'weight': 500
        ),
        'h4': (
            'size': var(--h4-size),
            'line-height': var(--h4-line-height),
            'letter-spacing': .0073529412em,
            'font-family': $heading-font-family,
            'text-transform': none,
          //  'weight': 500
        ),
        'h5': (
            'size': var(--h5-size),
            // 'line-height': 1.33,
            // 'letter-spacing': normal,
            'font-family': $heading-font-family,
            'text-transform': none
        ),
        // 'h6': (
        //     'size': var(--h6-size),
        //     'line-height': var(--h6-line-height),
        //     'letter-spacing': .0125em,
        //     'font-family': $heading-font-family,
        //     'text-transform': none
        // ),
        // 'h7': (
        //      'size': var(--h7-size),
        //      'line-height': var(--h7-line-height),
        //      'letter-spacing': .0125em,
        //      'font-family': $heading-font-family,
        //      'text-transform': none
        //  ),
        'subtitle-1': (
          'size': var(--subtitle-1-size),
          'weight': normal,
          'line-height': var(--subtitle-1-line-height),
          'letter-spacing': .009375em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        // 'subtitle-2': (
        //   'size': var(--subtitle-2-size),
        //   'weight': 500,
        //   'line-height': var(--subtitle-2-line-height),
        //   'letter-spacing': .0071428571em,
        //   'font-family': $body-font-family,
        //   'text-transform': none
        // ),
        // 'body-1': (
        //   'size': var(--body-1-size),
        //   'weight': 400,
        //   'line-height': var(--body-1-line-height),
        //   'letter-spacing': .03125em,
        //   'font-family': $body-font-family,
        //   'text-transform': none,
        // ),
        // 'body-2': (
        //   'size': var(--body-2-size),
        //   'weight': 400,
        //   'line-height': var(--body-2-line-height),
        //   'letter-spacing': .0178571429em,
        //   'font-family': $body-font-family,
        //   'text-transform': none
        // ),
        'button': (
          'size': .875rem,
          'weight': 500,
          'line-height': 2.6,
          'letter-spacing': .0892857143em,
          'font-family': $body-font-family,
          'text-transform': normal
        ),
        'caption': (
          'size': .75rem,
          'weight': 400,
          'line-height': 1.667,
          'letter-spacing': .0333333333em,
          'font-family': $body-font-family,
          'text-transform': none
        ),
        'overline': (
          'size': .875rem,
          'weight': 500,
          'line-height': 2.667,
          'letter-spacing': .1666666667em,
          'font-family': $body-font-family,
          'text-transform': uppercase
        ),
      )
    
);

.v-list-item-title{
  hyphens: none !important;
  overflow: visible !important;
  white-space: normal !important;
  word-wrap: initial !important;
  line-height: var(--body-1-line-height) !important;
}

.v-list-item-subtitle{
  hyphens: none !important;
  overflow: visible !important;
  white-space: normal !important;
  word-wrap: initial !important;
  line-height: var(--body-2-line-height) !important;
}

:root {
  --font-size-root: 16px;
    --body-1-size: 1.125rem;
    --body-2-size: 0.98rem;

    --h1-size: 3.33rem;
    --h2-size: 2.75rem;
    --h3-size: 1.66rem;
    --h4-size: 1.33rem;
    --h5-size: 1.22rem; 
    --h6-size: var(--body-1-size);
    --h7-size: var(--body-2-size);
    --subtitle-1-size: var(--body-1-size);
    --subtitle-2-size: var(--body-2-size);


    --base-color-gray--600: #525252;
    --base-color-gray--800: #262626;
    --container-sm-max-width: 1000px;
    --container-md-max-width: 1400px;
    --v-toolbar-height: 74px;
}
.v-toolbar__content {
  height: var(--v-toolbar-height) !important;
}
.v-tab-item--selected .v-tab--selected{
  color: var(--v-primary-base) !important;
  font-weight: bold;
}
// .v-toolbar__content > * >.v-tab.v-tabs{
//   height: var(--v-toolbar-height) !important;
// }

      /* xxl  */
      @media (min-width:  2560px) {

      }
      /* xl */
      @media (min-width: 1920px) and (max-width: 2560px) {
  
      }
      /* lg */
      @media (min-width: 1280px) and (max-width: 1920px) {

      }
        /* md */
      @media (min-width: 960px) and (max-width: 1280px) {
      
      }

        /* sm */
      @media (min-width: 600px) and (max-width: 960px) {

      }
      /* xs */
      @media (max-width: 600px) {
        :root {
           --font-size-root: 14px;
          // --h1-size: calc(3.33rem * 0.9);
          // --h2-size: calc(2.75rem * 0.9);
          // --h3-size: calc(1.66rem * 0.9);
          // --h4-size: calc(1.33rem * 0.9);
          // --h5-size: calc(1.25rem * 0.9);
          // --h6-size: var(--body-1-size);
          // --h7-size: var(--body-2-size);
          // --container-sm-max-width: 96%;
          // --container-md-max-width: 96%;
        }
        .text-xl{
          font-size: 3rem;
          line-height: 1.1em;
        }
      }

