<template>
<v-app-bar app dense color="white" light style="padding-left: 24px; padding-right: 24px;">
  <v-toolbar-title>
    <v-img id="prism_logo" alt="PRISM Logo" width="130px" src="../assets/logo.png"></v-img>
  </v-toolbar-title>
  <v-spacer></v-spacer>
  <v-btn icon @click="drawer = !drawer">
    <v-icon>mdi-menu</v-icon>
  </v-btn>
  <v-navigation-drawer v-model="drawer" app temporary>
    <v-list dense>
      <v-list-item id="background" to="/about-us/background">
        <v-list-item-title>Background</v-list-item-title>
      </v-list-item>
      <v-list-item id="team" to="/about-us/team">
        <v-list-item-title>Team</v-list-item-title>
      </v-list-item>
      <v-list-item id="publications" to="/research/publications">
        <v-list-item-title>Publications</v-list-item-title>
      </v-list-item>
      <v-list-item id="white-papers" to="/research/white-papers">
        <v-list-item-title>White papers</v-list-item-title>
      </v-list-item>
      <v-list-item id="conference-abstracts" to="/research/conference-abstracts">
        <v-list-item-title>Conference abstracts</v-list-item-title>
      </v-list-item>
      <v-list-item id="cell-line-collection" to="/screening/cell-line-collection">
        <v-list-item-title>Cell line collection</v-list-item-title>
      </v-list-item>
      <v-list-item id="screens" to="/screening/screens">
        <v-list-item-title>Screens</v-list-item-title>
      </v-list-item>
      <v-list-item id="data" to="/screening/data">
        <v-list-item-title>Data</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</v-app-bar>
  </template>
  <script>
  // import Vue from 'vue';
  export default {
    name: "AppBar",
  data(){
    return {
    }
  },
    methods: {

    },
    computed: {

    }
  };
  </script>

<style lang="scss" scoped>
  .v-app-bar{
    border-bottom:2px solid #4699FF !important;
    box-shadow: 0.5px 0.5px 15px 0px rgba(220, 220, 220, 0.5) !important;
    z-index:1000;
  }
  
</style>
  